---
# Exploratory Data Analysis
The data contains the following columns:
* **textID**: The ID assigned to the corresponding tweet
* **text**: The text of the tweet
* **selected_text**: Unique to the training set words/phrases that were used to define sentiment
* **sentiment**: The label (positive, negative, neutral)

The goal of the project is to predict the defining word(s) or phrase that exemplifies the provided sentiment

The end format should be as follows:

**id, "word(s)/phrase that drives sentiment"**

---
## Importing libraries

In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Importing the Data

In [2]:
os.chdir('../')
train_data = pd.read_csv('data/raw/train.csv')
test_data = pd.read_csv('data/raw/test.csv')

In [3]:
train_data.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [4]:
test_data.head()

       textID                                               text sentiment
0  f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1  96d74cb729   Shanghai is also really exciting (precisely -...  positive
2  eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3  01082688c6                                        happy bday!  positive
4  33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive

---
### Data Description

In [5]:
train_data.describe()

,textID,text,selected_text,sentiment
count,27481,27480,27480,27481
unique,27481,27480,22463,3
top,e69a965399,Well actually - Larin is my name. The 'model'...,good,neutral
freq,1,1,199,11118

In [6]:
test_data.describe()

,textID,text,sentiment
count,3534,3534,3534
unique,3534,3534,3
top,2d475b1b23,sad.. Daniel is leaving Florida now.. just gav...,neutral
freq,1,1,1430

---
### Data Info

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27481 entries, 0 to 27480
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   textID         27481 non-null  object
 1   text           27480 non-null  object
 2   selected_text  27480 non-null  object
 3   sentiment      27481 non-null  object
dtypes: object(4)
memory usage: 858.9+ KB

In [8]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3534 entries, 0 to 3533
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     3534 non-null   object
 1   text       3534 non-null   object
 2   sentiment  3534 non-null   object
dtypes: object(3)
memory usage: 83.0+ KB

---
## Data Exploration

Exploring the length of reviews to see if there is any relationship between the length of reviews to the sentiment.

In [16]:
train_data['text'].dtype

dtype('O')

In [15]:
# Creating text_length variable for length of texts in train data
# WIP

train_data['text_length'] = train_data['text'].apply(len)

TypeError: string indices must be integers

In [ ]:
# Plotting the text lengths based on sentiment
# WIP
sns.set_style('whitegrid')
train_graph = sns.FacetGrid(data=train_data, col='sentiment')
train_graph.map(plt.hist, 'text_length')

Viewing the frequency of the various sentiments in the training data

In [ ]:
sns.countplot(data=train_data, x='sentiment', palette='pastel')

Next, exploring any common words that pop up in the texts based on sentiment

In [ ]:
# WIP