---
# Exploratory Data Analysis
The data contains the following columns:
* **textID**: The ID assigned to the corresponding tweet
* **text**: The text of the tweet
* **selected_text**: Unique to the training set words/phrases that were used to define sentiment
* **sentiment**: The label (positive, negative, neutral)

The goal of the project is to predict the defining word(s) or phrase that exemplifies the provided sentiment

The end format should be as follows:

**id, "word or phrase that supports the sentiment"**

---
## Importing libraries

In [1]:
import os
import numpy as np
import pandas as pd

## Importing the Data

In [2]:
os.chdir('../')
train_data = pd.read_csv('data/raw/train.csv')
test_data = pd.read_csv('data/raw/test.csv')

In [3]:
train_data.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [4]:
test_data.head()

       textID                                               text sentiment
0  f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1  96d74cb729   Shanghai is also really exciting (precisely -...  positive
2  eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3  01082688c6                                        happy bday!  positive
4  33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive